._delete-dynamic-page {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  button {
    width: 100%;
    height: 4rem;

    background: var(--primary-500);
    color: #000;
    border: none;
    border-radius: 0;

    font-size: 1rem;
    font-weight: 600;

    transition: 150ms;

    &:hover
    {
        background: var(--primary-400);
    }
  }
}
